{% extends "base.html.twig" %}

{% block body %}

  <div class="text-danger text-center">
  {% for flashMessage in app.session.flashbag.get('error') %}
      {{ flashMessage }}
  {% endfor %}
  </div>

  <div class="container-fluid">

    <h1 class="text-center text-light">Liste des cibles</h1>
      <section class="d-flex flex-wrap justify-content-center mt-5">
        {% for target in targets %}
            <div class="card m-1 bg-secondary text-light" style="width: 25rem;">
              <div class="card-body">
                <h5 class="card-title text-center fw-bold">{{ target.firstname|capitalize }} {{ target.lastname|capitalize }}</h5>
                  <div class="row">
                    <div class="col-6 card-text text-dark fw-bold">Date de naissance:</div>
                    <div class="col-6 card-text">{{ target.birthdate|date('d-m-Y') }}</div>
                  </div>
                  <div class="row">
                    <div class="col-6 card-text text-dark fw-bold">Pays:</div>
                    <div class="col-6 card-text">{{ target.nationality }}</div>
                  </div>
                  <div class="row">
                    <div class="col-6 card-text text-dark fw-bold mb-1">Nom de code:</div>
                    <div class="col-6 card-text mb-1">{{ target.codename }}</div>
                  </div>
              </div>
              <div class="row justify-content-around">
                <a href="/update-target/{{ target.id }}" class="col-3 btn btn-warning mb-2">Modifier</a>
                <a href="/delete-target/{{ target.id }}" class="col-3 btn btn-danger mb-2">Supprimer</a>
              </div>
            </div>
        {% endfor %}
      </section>

    <div class="row justify-content-center">
      <a href="/" class="col-2 col-md-1 btn btn-success mt-3 mb-5">Retour</a>
    </div>

  </div>  
{% endblock %}