{% extends "base.html.twig" %}

{% block body %}

  <div class="container-fluid">

    <h1 class="text-center text-light">Liste des planques</h1>
      <section class="d-flex flex-wrap justify-content-center mt-5">
        {% for hideout in hideouts %}
            <div class="card m-1 bg-secondary text-light" style="width: 25rem;">
              <div class="card-body">
                <h5 class="card-title text-center fw-bold">{{ hideout.type }}</h5>
                  <div class="row">
                    <div class="col-3 card-text text-dark fw-bold">ADRESSE:</div>
                    <div class="col-9 card-text">{{ hideout.adress }}</div>
                  </div>
                  <div class="row">
                    <div class="col-3 card-text text-dark fw-bold">PAYS:</div>
                    <div class="col-9 card-text">{{ hideout.country }}</div>
                  </div>
                  <div class="row">
                    <div class="col-3 card-text text-dark fw-bold">CODE:</div>
                    <div class="col-9 card-text">{{ hideout.codehideout }}</div>
                  </div>
              </div>
              <div class="row justify-content-around">
                <a href="/update-hideout/{{ hideout.id }}" class="col-3 btn btn-warning mb-2">Modifier</a>
                <a href="/delete-hideout/{{ hideout.id }}" class="col-3 btn btn-danger mb-2">Supprimer</a>
              </div>
            </div>
        {% endfor %}
      </section>

    <div class="row justify-content-center">
      <a href="/" class="col-2 col-md-1 btn btn-success mt-3 mb-5">Retour</a>
    </div>

  </div>
{% endblock %}